# Visual Studio
.vs/
.vscode/

# Build results
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# NuGet
*.nupkg
# Include if NuGet packages should be downloaded locally
#packages/
project.lock.json
project.fragment.lock.json

# Publish
*.publishsettings
*.pubxml
*.pubxml.user

# Others
.DS_Store
*.cache
*.tmp

# ASP.NET Core environment settings
appsettings.Development.json
secrets.json
