# Visual Studio y VS Code
.vs/
.vscode/

# Archivos de Rider y otras herramientas de JetBrains
.idea/
.Rider/

# Build results y temporales
bin/
obj/
*.pidb
*.tmp
*.temp
*.bak
*.swp
*.cache
*.csproj.user
*.dbmdl

# Caché de paquetes .NET y dependencias
/packages/
/nuget/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# NuGet
*.nupkg
project.lock.json
project.fragment.lock.json

# Archivos de configuración de entorno de ASP.NET Core
# appsettings.json
# appsettings.*.json
# secrets.json
# global.json

# Publish
.artifacts/
.publish/
.publishsettings
*.pubxml
*.pubxml.user

# Configuración específica del sistema operativo
Thumbs.db
.DS_Store
